.app-container {
  width: "100%";
  min-height: "100vh";
  background-color: "orange";
  display: "flex";
  flex-direction: "column";
}

.header-container {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 4rem;
  background-color: #ccc;
}

.routes-container {
  margin-top: 4rem;
}

.footer-container {
  background-color: #ccc;
  margin-top: auto;
}
