@import "tailwindcss";

:root {
  --bg: white;
  --fg: #1e293b; /* slate-800 */
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

.dark {
  --bg: #0f172a; /* slate-900 */
  --fg: #f8fafc; /* slate-50 */
}

body {
  background-color: var(--bg);
  color: var(--fg);
}
