@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --bg: white;
  --fg: #1e293b;
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

.dark {
  --bg: #0b0f0b;
  --fg: #f8fafc;
}

body {
  background-color: var(--bg);
  color: var(--fg);
}
